####################################################################################
## Any changes to this file must be represented in both ".env" and ".env.example" ##
####################################################################################

NEXT_PUBLIC_BACKEND_HOST=http://localhost:3001

NEXT_PUBLIC_HCAPTCHA_SITE_KEY=10000000-ffff-ffff-ffff-000000000001
NEXT_PUBLIC_HCAPTCHA_SITE_KEY_SIGNUP=10000000-ffff-ffff-ffff-000000000001
NEXT_PUBLIC_HCAPTCHA_SITE_KEY_PASSWORD_RESET=10000000-ffff-ffff-ffff-000000000001
# Autopass hCaptcha site key: 10000000-ffff-ffff-ffff-000000000001
# Autofail hCaptcha site key: 000


####################################################################################
## The following variables are only necessary when running production             ##
## NOTE: Frontend required variables need to be present in workflow 'env' section ##
####################################################################################
ENABLE_PWA=false

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

NEXT_PUBLIC_POSTHOG_DEBUG=false
NEXT_PUBLIC_POSTHOG_URL=$NEXT_PUBLIC_BACKEND_HOST/v1/hog/collect
NEXT_PUBLIC_POSTHOG_KEY=
POSTHOG_SOURCEMAPS_API_KEY=  # Leave blank to disable uploading sourcemaps
POSTHOG_ENV_ID=